<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- //for-mobile-apps -->
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>
            后台登录
        </h1>
        <form  method="post" onsubmit="return loginCheck()" action="/login/login_handler/">

            <input type="text" value="" name="code" >请输入账号</br>

            <required = "" ></br>
            <input type="password"  value="" name="password" >请输入密码</br>

            <required = "" ></br>
            <div class="more_input clearfix">
                <input type="checkbox" name="is_checked"></div>
                <input type="submit" value="登录">
                <div class="login_title clearfix">
                    <a href="/login/register/">用户注册</a>

                </div>
        </form>
        </form>
    </div>


</body>
</html>