<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- //for-mobile-apps -->
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>
            后台注册
        </h1>

        <p>{{info}}</p>

        <form method="post" action="/login/zhuce/">
            {%csrf_token%}
            <input type="text" value=" 邮箱" name="email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '用户名';}" required=""></br>
            <input type="password" value="Password" name="passwd" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}" required=""></br>
            <input type="submit" value="注册">
        </form>
    </div>


</body>
</html>