<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jobModule</title>
    <style>
    </style>
</head>
<body>
<div id="container" style="width:500px"></div>
<div id="header" style="background-color:#FFA500;"></div>
        <div><h1 style="margin-bottom:0;">全部职位</h1></div>
        <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
            <h2>职位信息 </h2>
                <p>职位描述</p><br>
                <p>职位要求</p><br>
                <p>职位模型</p><br>
            <h3>测式管理</h3>
                <p>测试邀请</p><br>
                <p>测试报告</p><br>
        </div>
        <div id="content" style="background-color:#EEE;height:200px;width:400px;float:left;">
            内容在这里
        </div>
</body>
</html>