<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style/userinfo_info.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/script/userinfo_info.js" CHARSET="UTF-8"></script>
    </head>
    <body>
        <form action="" method="post">
            <div class="card container col-offset-md-4 col-md-4 col-offset-md-4">
                <p class="card-header">User Information...</p>
                <input type="hidden" name="id">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">name:</label>
                        <input name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">password:</label>
                        <input name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sex">sex:</label>
                        <select name="sex" class="form-control">
                            <option value="m">male</option>
                            <option vlaue="f">female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="company">company:</label>
                        <input name="company" class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <button id="submit" type="button" class="btn btn-primary">submit</button>
                    <button type="reset" class="btn btn-primary">reset</button>
                </div>
            </div>
        </form>
    </body>
</html>