#frame_navigator{
    height: 120px;
    background: linear-gradient(white, aliceblue);
    border-bottom: 1px solid ghostwhite;
    padding: 0;
}
#frame_menu{
    height: 600px;
    float: left;
    padding: 0;
    border-right: 1px solid ghostwhite;
}
#frame_content{
    height: 600px;
    float: left;
    padding: 0;
}
#frame_navigator .frame_nav{
    height:120px;
    float: left;
    padding: 0;
}
#frame_navigator ul{
    position: absolute;
    bottom: 0;
}
#frame_navigator ul li .active{
    border-bottom: 4px solid lightblue;
}

#frame_menu ul li .active{
    position: relative;
    left:20%;
    color:darkblue;
}