{% extends 'login_frame.html' %}
{% block header %}
        <meta charset="UTF-8">
        <title>jobRequirement</title>
     <style>
		#box3{
			margin-left:0px;
		}
		#box3 p{
			float:left;
		}
		#box3 #box4{
			height:130px;
			margin-top:0px;
			border-bottom:1px solid;
		}
		#box3 #box4 #h3{
			margin-bottom:45px;
		}
		#box3 #box5{
			height:200px;
			padding-top:20px;
			border-bottom:1px solid;
		}
		#box3 #box6{
			padding-top:20px;
		}
	</style>
    <script src="/static/script/edit.js"></script>
{% endblock %}
{% block content%}
		<div id='box3'>
			<form action="/jobRequirement/save/" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="jobInfo_id" value="{{ jobInfo_id }}">
			<div id='box4'>
				<dd><h3 id=h3>职位要求</h3></dd>
				<dd>教育背景  &nbsp<input type="text" name="education"/></dd><br/>
			</div>
			<div id='box5'>
				<dd><p>经历</p> &nbsp<textarea cols=32 rows=3 name="experience"></textarea></dd><br/>
				<dd>资历 &nbsp<input type="text" name="passTime"/></dd><br/>
			</div>
			<div id='box6'>
				<dd><p>培训/证书</p> &nbsp<textarea cols=32 rows=3 name="certificate"></textarea></dd><br/>
				<dd>专业知识 &nbsp<input type="text" name="major"/></dd><br/>
				<dd><p>技能</p> &nbsp<textarea cols=32 rows=3 name="skill"></textarea></dd><br/>
			</div>
            <div style="text-align:right">
                <input id="submit" type="submit" value="保存草稿"/>
            </div>
            </form>
		</div>
{% endblock %}