.card{
    margin-top: 2%;
}

.card-header{
    white-space: nowrap;
}

#searchBtn{
    float:right;
}

#card-body-menu{
    padding-bottom: 5px;
}

.tableItemBtn{
    margin-right: 5px;
}
.table tbody tr td:last-child{
    white-space: nowrap;
}

.pagination{
    float: right;
}