<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <title>{{title}}</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link rel="stylesheet" href="/static/style/bootstrap.min.css">
            <link rel="stylesheet" href="/static/style/base.css">
            <script src="/static/script/jquery-3.3.1.js"></script>
            <script src="/static/script/popper.min.js"></script>
            <script src="/static/script/bootstrap.min.js"></script>
            <script src="/static/script/base.js"></script>
            {% block head %}
            {% endblock %}
        </head>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>